* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header{
    border: 1px solid red;
    width: 100%;
    height: 120px;
    position: absolute;
    top:0;
    left:0;
    padding: 30px;
    display: flex;
    background: red;
    padding-top: 10px;

}
footer {
  bottom: 0;
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}
body {
    padding-top: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    padding-bottom: 350px;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1; 
  width: 100%;
}


.stemma img{
  border: 1px solid red;
  top: 25px;
  width: 65px;
  height: 45px;
  position: relative;
  text-align: center;
  align-content: center;
  align-items: center;

}
.menu{
  border: 1px solid red;
  width:100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  align-content: center;
  position: relative;
}
.menu li{display:inline-block}
.menu li a{color: white; padding: 15px; text-decoration: None;}

.trans-txt {
    transition: transform 0.3s ease, filter 0.3s ease;;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  
  .trans-txt:hover {
    color: gold;
  }

main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.news-container {
  display: flex;
  width: 100%;
  height: auto;
}

.main-news {
  width: 65%;
  height: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-news img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
  max-height: 400px;
  object-fit: cover;
}


.main-news:hover img {
  transform: scale(1.05);
}

.main-news .title {
  text-align: center;
  padding: 20px;
  font-size: 25px;
  background-color: rgb(226, 226, 226);

}


.side-news {
  margin-right: 2px;
  margin-left: 2px;
  width: 35%;
  display: flex;
  flex-direction: column;

}

.side-news-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-news-item img {
  width: 100%;
  height: auto;
  flex-grow: 1;
  object-fit: cover;
  transition: transform 0.3s ease;
  max-height: 190px;
}

.side-news-item:hover img {
  transform: scale(1.05);
}

.side-news-item .title {
  padding: 14px;
  box-sizing: border-box;
  background-color: rgb(226, 226, 226);
} 

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

section{display: flex; flex-direction: column;}