.header{
    border: 1px solid red;
    width: 100%;
    height: 120px;
    position: fixed;
    top:0;
    left:0;
    padding: 30px;
    display: flex;
    background: red;

}
.stemma img{
    border: 1px solid red;
    width: 65px;
    height: 45px;
    text-align: center;
    

}
.menu{
    border: 1px solid red;
    width:100%
}
.menu li{display:inline-block}
.menu li a{color: white; padding: 15px}
/* 
.rosso p{width: 400px; height: 100px; 
    background-color: red; position: relative; 
    top: 0; left: 0} */
.video-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
      }
      
    video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
      }
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-align: border-box;
    box-sizing: border-box;
}
/*body,
html{padding: 0;margin: 0;}

.img-res{width: 100%;height: auto; overflow: hidden}

.white{color: White}

header{background-color: red; padding: 20px 20px 40px 30px;}

#menu-header { text-align: left; padding-top: 0;}
#menu-header li{display: inline;}
#menu-header li{border: 1px; margin: 10px;}