* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header{
    border: 1px solid red;
    width: 100%;
    height: 120px;
    position: absolute;
    top:0;
    left:0;
    padding: 30px;
    display: flex;
    background: red;
    padding-top: 10px;

}
body{
    padding-top: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: row;
    padding-bottom: 350px;
}
main {
  flex: 1; 
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer {
    width: 100%;
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0;
    position: relative;
    left: 0;
    bottom: 0;
}

.stemma img{
  border: 1px solid red;
  top: 25px;
  width: 65px;
  height: 45px;
  position: relative;
  text-align: center;
  align-content: center;
  align-items: center;

}
.menu{
  border: 1px solid red;
  width:100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  align-content: center;
  position: relative;
}
.menu li{display:inline-block}
.menu li a{color: white; padding: 15px; text-decoration: None;}

.trans-txt {
    transition: transform 0.3s ease, filter 0.3s ease;;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  
  .trans-txt:hover {
    color: gold;
  }

.player-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: 'Oswald', sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.player-section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.player-grid {
  display: flex;
  gap: 20px;
  justify-items: center;
}

.titolo-kit {
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 32px;
  font-weight: 700;
  color: #d62f05;
  padding-bottom: 30px;
}
.player-card {
  text-decoration: none;
  color: inherit;
  display: block;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  text-align: center;
  transition: transform 0.2s, box-shadow 0.3s;
  width: 100%;
  max-width: 260px;
}

.player-card img {
  width: 100%;
  height: 300px; 
  object-fit: cover; 
  display: block;
  transition: transform 0.3s ease; 
}

.player-card:hover img {
  transform: scale(1.03); 
}

.plauyer-card h3 {
  font-size: 1.1rem;
  margin: 15px 0 10px;
}

.player-card .nome {
  color: #b12704;
  font-weight: bold;
  margin-bottom: 15px;
}


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-align: border-box;
    box-sizing: border-box;
}

