* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .header{
    border: 1px solid red;
    width: 100%;
    height: 120px;
    position: absolute;
    top:0;
    left:0;
    padding: 30px;
    display: flex;
    background: red;
    padding-top: 10px;

}

.header-right {
  display: flex;
  align-items: center;
}


.stemma img{
    border: 1px solid red;
    top: 25px;
    width: 65px;
    height: 45px;
    position: relative;
    text-align: center;
    align-content: center;
    align-items: center;
    

}
.menu{
    border: 1px solid red;
    width:100%;
    top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    align-content: center;
}
.menu li{display:inline-block}
.menu li a{color: white; padding: 15px; text-decoration: None;}

body {
    padding-top: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-icon { 
    top: 25px;
    width: 65px;  
    height: 45px;
    text-align: center;
    align-items: center;
    align-content: center;
}