* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header{
    border: 1px solid red;
    width: 100%;
    height: 120px;
    position: absolute;
    top:0;
    left:0;
    padding: 30px;
    display: flex;
    background: red;
    padding-top: 10px;

}
body {
    padding-top: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: row;
    padding-bottom: 350px;
}
main {
  flex: 1; 
  width: 100%;
}


.stemma img{
  border: 1px solid red;
  top: 25px;
  width: 65px;
  height: 45px;
  position: relative;
  text-align: center;
  align-content: center;
  align-items: center;

}
.menu{
  border: 1px solid red;
  width:100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  align-content: center;
  position: relative;
}
.menu li{display:inline-block}
.menu li a{color: white; padding: 15px; text-decoration: None;}


.media-container {
    position: relative;
    top: 0px;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.media-container img,
.media-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}
.media-container video {
      opacity: 0;
}



.testo-e-immagine {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
.testo {
    width: 60%; 
    font-size: 18px;
    font-family: 'Open Snans', sans-serif
  }
  
.immagine img {
    width: 60%; 
    object-fit: cover;
  }

  footer {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
 }

.footer {
    position: absolute;
    border: 1px solid gold;
    width: 100%;
    height: 200px;
    padding: 30px;
    display: flex;
    bottom: 0;
    left: 0;
    background-color: rgb(231, 201, 115);
    text-align: center;
    justify-content: center;

}
.image-footer{
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    gap: 72px; 
    margin-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    display: flex;
    margin-left: 5%;
}
.image-footer img {
    height: 100px; 
    width: auto;
}
.footer1{
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
  bottom: 0;
  position: relative;
}
.trans-txt {
    transition: transform 0.3s ease, filter 0.3s ease;;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  
  .trans-txt:hover {
    color: gold;
  }
  .zoom-img {
    transition: transform 0.3s ease, filter 0.3s ease;;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  
  .zoom-img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 10px #a00000);
  }
  .trans-txtf {
    transition: transform 0.3s ease, filter 0.3s ease;;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  
  .trans-txtf:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 10px white);
  }
 
 
 
 
 
  *,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-align: border-box;
    box-sizing: border-box;
}

.search-container {
  display: inline-block;
  transition: all 0.3s ease;
}

.search-box {
  top: 0;
  right: 0;
  width: 40px;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  transition: width 0.4s ease, background-color 0.3s ease;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.search-container:hover .search-box {
  width: 200px;
  cursor: text;
}